<!DOCTYPE html>
<html ng-app="MovieDbApp" ng-controller="TitleController">
<head>
    <title>{{ title }} | Movie Db Angular</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default" ng-controller="MenuController">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Movie DB</a>
      </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="classForItem('movies')">
          <a href="#/movies" ng-click="setActiveItem('movies')">Movies</a>
        </li>
        <li ng-class="classForItem('series')">
          <a href="#/series" ng-click="setActiveItem('series')">Series</a>
        </li>
        <li ng-class="classForItem('people')">
          <a href="#/people" ng-click="setActiveItem('people')">People</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <section ng-view></section>      
    </div>
  </div>
</div>

<script src="dist/built.js"></script>
</body>
</html>