<h1>Movies</h1>

<div class="alert alert-info" ng-show="movies.length==0 && !error && !loading">No hay ninguna pelicula</div>
<div class="alert alert-danger" ng-show="error && !loading">{{error}}</div>
<div class="text-center" ng-show="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
</div>
<div class="pull-right">
<select ng-model="orderby">
    <option value="rating">Rating</option>
    <option value="date">Date</option>
    <option value="title">Title</option>
</select>
<label><input type="checkbox" ng-model="reverse">Descendente</label>
</div>
<table class="table table-stripped table-hover" ng-show="movies.length>0">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Título</th>
            <th>Puntuación</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies | orderBy:orderby:reverse">
            <td><img ng-src="{{movie.poster_url}}" class="movies poster"></td>
            <td>{{movie.title}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.date | date: 'yyyy'}}</td>
        </tr>
    </tbody>
</table>